<!-- <h1>{{titulo}}</h1> -->
<!-- <div class="breadcrumb">
    <span routerLink="/" *ngIf="textosUrl.length !== 0">Inicio</span>
    <span *ngFor="let texto of textosUrl; let i = index; let last = last"> 
        <span routerLink="/{{urls[i]}}" *ngIf="!last"> > {{texto}}</span>
        <span class="active" *ngIf="last"> > {{texto}}</span>
    </span>            
</div> -->
<div class="breadcrumb">
  <a *ngFor="let breadcrumb of breadcrumbs; let last = last">
    <span *ngIf="!breadcrumb.ruta && !last" routerLink="/">Inicio > </span>
    <span *ngIf="!breadcrumb.ruta && last" class="active">Inicio </span>
    <span *ngIf="breadcrumb.ruta && !last" routerLink="{{breadcrumb.url}}">{{breadcrumb.ruta}} > </span>
    <span *ngIf="last" class="active">{{breadcrumb.ruta}} </span>
  </a>
</div>
<!-- <ul class="breadcrumb">
  <li *ngFor="let ruta of rutas"
      class="breadcrumb-item">
    <a>
      {{ ruta }}
    </a>
  </li>
</ul> -->