<div class="contenedor fondo-gris">
    <div class="contenido para-friso grid">
        <div class="card">
            <div class="fila space">
                <h2>Cursos</h2>
            </div>
            <hr>
            <img src="assets/students-cap.svg" class="icon-big">
            <div class="fila derecha">
                <button routerLink="/admin/listado-cursos">Acceder</button>
            </div>
        </div>
        <div class="card">
            <div class="fila space">
                <h2>Usuarios</h2>
            </div>
            <hr>
            <img src="assets/group.svg" class="icon-big">
            <div class="fila derecha">
                <button routerLink="/admin/listado-usuarios">Acceder</button>
            </div>
        </div>
    </div>
</div>