<div class="landing" *ngIf="!isLogged">
    <app-login class="auth"></app-login>
    <div class="front">
        <div class="fila centrada rrss">
            <img src="assets/facebook.svg">
            <img src="assets/twitter.svg">
            <img src="assets/whatsapp.svg">
        </div>
        <div class="mini-footer">
            <span>&copy; 2019 ELERNIAM E-LEARNING SOLUTIONS</span>
            <span>Aviso Legal | Contacto</span>
        </div>
    </div>
</div>
<div class="contenedor fondo-gris" *ngIf="isLogged">
    <div class="contenido para-friso grid">
        <div class="card">
            <div class="fila space">
                <h2>Cursos</h2>
            </div>
            <hr>
            <img src="assets/ui-design.svg" class="icon-big">
            <div class="fila derecha">
                <button routerLink="/cursos">Acceder</button>
            </div>
        </div>
        <div class="card">
            <div class="fila space">
                <h2>Foros</h2>
            </div>
            <hr>
            <img src="assets/network.svg" class="icon-big">
            <div class="fila derecha">
                <button (click)="toggleOverlay()">Acceder</button>
            </div>
        </div>
        <div class="card">
            <div class="fila space">
                <h2>Repositorio</h2>
            </div>
            <hr>
            <img src="assets/file-text.svg" class="icon-big">
            <div class="fila derecha">
                <button (click)="toggleOverlay()">Acceder</button>
            </div>
        </div>
        <div class="card">
            <div class="fila space">
                <h2>Mi perfil</h2>
            </div>
            <hr>
            <img src="assets/resume.svg" class="icon-big">
            <div class="fila derecha">
                <button (click)="toggleOverlay()">Acceder</button>
            </div>
        </div>
        <div class="card">
            <div class="fila space">
                <h2>Ayuda y soporte</h2>
            </div>
            <hr>
            <img src="assets/conversation.svg" class="icon-big">
            <div class="fila derecha">
                <button (click)="toggleOverlay()">Acceder</button>
            </div>
        </div>
        <div class="card">
            <div class="fila space">
                <h2>Administración LMS</h2>
            </div>
            <hr>
            <img src="assets/settings.svg" class="icon-big">
            <div class="fila derecha">
                <button routerLink="/panel">Acceder</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay" (click)="toggleOverlay()" *ngIf="showOverlay">
    <div class="card">
        <div class="fila space">
            <img src="assets/alert-triangle.svg">
            <img style="cursor: pointer" src="assets/x.svg">
        </div>
        <hr>
        <div class="fila">
            <h2>La funcionalidad no está habilitada, por favor contacte con el administrador.</h2>
        </div>
        <div class="fila derecha">
            <button>Aceptar</button>
        </div>
    </div>
</div>