<div class="contenedor fondo-gris">
    <div class="contenido para-friso flex-center">
        <div class="card form">
            <header>
                <h2>Crear nuevo Curso</h2>
                <button class="inline" routerLink="/admin/listado-cursos">Volver</button>
            </header>
            <hr>
            <form [formGroup]="regForm" (ngSubmit)="submitReg()">
                <div class="fila">
                    <div class="col-33">
                        <label>Código</label>
                        <input type="text" formControlName="codigo" #codigo>
                    </div>
                    <div class="col-66">
                        <label>Título</label>
                        <input type="text" formControlName="titulo">
                    </div>
                </div>
                <div class="fila">
                    <div class="col-100">
                        <label>Imagen</label>
                        <div class="upload-imagen">
                            <img *ngIf="imageSrc" [src]="imageSrc" alt="">
                            <label class="m-l-1em" for="imagen">Añadir imagen</label>
                            <input id="imagen" type="file" ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)">
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="col-33">
                        <label>Nº horas</label>
                        <input type="text" formControlName="horas">
                    </div>
                    <div class="col-33">
                        <label>Fecha inicio</label>
                        <input type="date" formControlName="fechaInicio" value="{{fechaActual | date:'yyyy-MM-dd'}}">
                    </div>
                    <div class="col-33">
                        <label>Fecha finalización</label>
                        <input type="date" formControlName="fechaFin" value="{{fechaActual | date:'yyyy-MM-dd'}}">
                    </div>
                </div>
                <div class="fila">
                    <div class="col-50">
                        <label>Autor</label>
                        <select formControlName="autor">
                            <option *ngFor="let autor of autores" [ngValue]="autor._id">{{autor.nombre}}&nbsp;{{autor.apellidos}}</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="fila derecha">
                    <button class="inline" routerLink="/admin/listado-cursos">Cancelar</button>
                    <button type="submit" class="m-l-1em" [disabled]="regForm.invalid" (click)="uploader.uploadAll()">
                        <span *ngIf="!waiting">Añadir curso</span>
                        <span *ngIf="waiting" style="display: flex;"><div class="spinner-white"></div> Espere...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>